.image-container {
  text-align: center;
  float: left;
  margin-right: 2rem; }

.profile-img {
  max-width: 8rem;
  width: 100%; }

.contact img {
  clear: both;
  margin: 0.5rem;
  width: 3rem;
  height: 3rem; }

.text-container, .image-container {
  margin-top: 1rem; }

@media (max-width: 700px) {
  .image-container {
    float: none;
    display: block;
    margin: 1rem; }
  .text-container {
    margin-top: 0; }
  .contact img {
    margin: 0.25rem;
    width: 2.5rem;
    height: 2.5rem; } }
