@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.App-header {
  font-family:  'Ubuntu', sans-serif;
  font-size: 2.5em;
  color: #0a7ea3;
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 70px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-family:  'Ubuntu', sans-serif;
  padding: 30px;
  font-size: medium;
  line-height: 20pt;
  color: darkslategray;
}

.App-footer {
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.App-footer-icon {
  padding: 10px;
  height: 50px;
}

.App-footer-text {
  color: lightslategray;
  font-size: small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
